<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EduCheck"
        tools:targetApi="31" >
        <activity
            android:name=".Controleur.registration1"
            android:exported="false"
            android:label="registration1" />
        <activity
            android:name=".Controleur.parcours_choice"
            android:exported="false"
            android:label="university_choice" />
        <activity
            android:name=".Controleur.Registration2"
            android:exported="false"
            android:label="Registration2"/>
        <activity
            android:name=".Controleur.login"
            android:exported="true"
            android:label="Login Activity" >
            <intent-filter>
                <action android:name="android.intent.action.login" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controleur.MainActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name=".Controleur.loading"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />

        </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

        </activity>
    </application>

</manifest>